<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">   
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/userloginsignup.css') }}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title> {{ title }}</title>
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{{ url_for('static', filename = 'img/car-insurance.jpg') }}" alt="">       
        <div class="text">
          <span class="text-1">Welcom Back</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="{{ url_for('static', filename = 'img/car-insurance2.png') }}" alt="">
        <div class="text">
          <span class="text-1">Insurance That Drives Satisfaction,<br> Mile After Mile </span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="login-form">               
                  <a href="/" class="logo">
                    <img src="{{ url_for('static', filename = 'img/icon/icon-02-primary.png') }}" alt="logo">
                    <h2>InsurSafe AI</h2>
                  </a>               
                <div class="title">Login</div>              
                <form method="POST" action="/userlogin">
                      {% if msg %}
                          <script>
                              window.message = "{{ msg }}";
                              window.messageType = "{{ msg_type }}";
                          </script>                       
                      {% endif %}
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" name="email" placeholder="Enter your email" required>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" name="password" placeholder="Enter your password" required>
                        </div>
                        <div class="text"><a href="/user/pages/forgot_pw">Forgot password?</a></div>
                        <div class="button input-box">
                            <input type="submit" value="Sumbit">
                        </div>
                        <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
                    </div>
                </form>
            </div>
            <div class="signup-form">
                <div class="title">Signup</div>
                <div class="progress-bar">
                    <div class="step">
                      <p>Name</p>
                      <div class="bullet">
                        <span>1</span>
                      </div>
                      <div class="check fas fa-check"></div>
                    </div>
                    <div class="step">
                      <p>Contact</p>
                      <div class="bullet">
                        <span>2</span>
                      </div>
                      <div class="check fas fa-check"></div>
                    </div>
                    <div class="step">
                      <p>Address</p>
                      <div class="bullet">
                        <span>3</span>
                      </div>
                      <div class="check fas fa-check"></div>
                    </div>
                    <div class="step">
                      <p>Submit</p>
                      <div class="bullet">
                        <span>4</span>
                      </div>
                      <div class="check fas fa-check"></div>
                    </div>
                  </div>
                  <div class="form-outer">
                    <form method="POST" action="/usersignup">
                      {% if msg %}
                            <script>
                                window.message = "{{ msg }}";
                                window.messageType = "{{ msg_type }}";
                            </script>                       
                      {% endif %}
                      <div class="page slide-page">
                        <div class="title">Basic Info:</div>
                        <div class="input-boxes">
                          <div class="input-row">
                            <div class="input-box">
                              <i class="fas fa-user"></i>
                              <input type="text" name="fname" placeholder="First Name" required>
                            </div>
                            <div class="input-box">
                              <i class="fas fa-user"></i>
                              <input type="text" name="lname" placeholder="Last Name" required>
                            </div>
                          </div>
                          <div class="input-box">
                            <i class="fas fa-user"></i>
                            <select name="gender" required>
                              <option selected disabled value="">Choose your gender</option>
                              <option>Male</option>
                              <option>Female</option>
                            </select>
                          </div>
                        </div>
                          <div class="field">
                            <button class="firstNext next">Next</button>
                          </div>
                        
                        <div class="text login-text">Already have an account? <label for="flip">Login now</label></div>
                      </div>
            
                      <div class="page">
                        <div class="title">Contact Info:</div>
                        <div class="input-boxes">
                          <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" name="email" placeholder="Email Address" required>
                          </div>
                          <div class="input-box">
                            <i class="fas fa-phone"></i>
                            <input type="text" name="phone" placeholder="Phone Number" required>
                          </div>                     
                          <div class="field btns">
                            <button class="prev-1 prev">Previous</button>
                            <button class="next-1 next">Next</button>
                          </div>
                        </div>
                        <div class="text login-text">Already have an account? <label for="flip">Login now</label></div>
                      </div>
            
                      <div class="page">
                        <div class="title">Address:</div>
                        <div class="input-boxes">
                          <div class="input-box">
                            <i class="fas fa-city"></i>
                            <input type="text" name="city" placeholder="City" required>
                          </div>
                          <div class="input-box">
                            <i class="fas fa-road"></i>
                            <input type="text" name="street" placeholder="Street" required>
                          </div>                                        
                          <div class="field btns">
                            <button class="prev-2 prev">Previous</button>
                            <button class="next-2 next">Next</button>
                          </div>
                        </div>
                        <div class="text login-text">Already have an account? <label for="flip">Login now</label></div>
                      </div>
            
                      <div class="page">
                        <div class="title">Login Details:</div>
                        <div class="input-boxes">
                          <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input id="pass1" type="password" name="password" placeholder="Enter your password" required>
                          </div>
                          <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input id="pass2" type="password" placeholder="Confirm your password" required>
                          </div>
                          <div class="field btns">
                            <button class="prev-3 prev">Previous</button>
                            <button onclick="verf_pw(pass1.value, pass2.value);" type="submit" class="submit">Submit</button>
                          </div>
                        </div>
                        <div class="text login-text">Already have an account? <label for="flip">Login now</label></div>
                      </div>
                    </form>
                  </div>
              
            </div>
        </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename = 'js/userloginsignup.js') }}"></script>
  <script>
    function verf_pw(pass1, pass2) {
        if (pass1 == "" | pass2 == "") {
            alert('Enter and confirm your password');
            return false;
        }else if (pass1.length < 8 ) {
            alert('Password must contain atlease 8 characters');
            return false;
        }else if (pass1 != pass2) {
            alert('Password confirmation does not match');
            return false;
        }
    }
</script>
</body>
</html>
